.TextField {
  margin-bottom: 15px;
}

label {
  margin-bottom: 3px;
  padding: 0;
  display: block;
}

input {
  display: block;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  outline: none;
  width: 100%;
  transition: all 300ms ease-in-out;
  background-color: #fff;
}

span {
  color: #f01f30;
  font-size: 12px;
  font-weight: bold;
}

input.invalid {
  border: 1px solid red;
}

label.invalid  {
  color: #f01f30;
}
